@model Insteon.Devices.DimmerDevice
<tr>
<td>
<div id="div@(Model.Name)" class="device">
    @if (Model.Status > 0)
    {
    <div class="on_device">
    @if (HttpContext.Current.Request.UserHostAddress.StartsWith("192.168.22"))
    {
        @Html.ActionLink(Model.Name, "Off", Model)
    }
    else
    {
        @Html.Label(Model.Name)
    }
        <span class="right">Level: @Html.Label(Model.Status.ToString())</span>
    </div>
        <br />
    <span class="left">LastOn: @Html.Label(Model.LastOn.ToShortTimeString())</span>
    }
    else
    {
    <div class="off_device">
    @if (HttpContext.Current.Request.UserHostAddress.StartsWith("192.168.22"))
    {
        @Html.ActionLink(Model.Name, "On", Model)
    }
    else
    {
        @Html.Label(Model.Name)
    }
        <span class="right">Level: @Html.Label(Model.Status.ToString())</span>
    </div>
        <br />
    <span class="left">LastOff: @Html.Label(Model.LastOff.ToShortTimeString())</span>
    }
    <br />
    <br />
    @if (HttpContext.Current.Request.UserHostAddress.StartsWith("192.168.22"))
    {
    <div class="dimmerLevels">
    <span class="dimLevel">@Html.ActionLink("20%", "OnLevel", new { deviceName = Model.Name, level = 20 })</span>
    <span class="dimLevel">@Html.ActionLink("40%", "OnLevel", new { deviceName = Model.Name, level = 40 })</span>
    <span class="dimLevel">@Html.ActionLink("60%", "OnLevel", new { deviceName = Model.Name, level = 60 })</span>
    <span class="dimLevel">@Html.ActionLink("80%", "OnLevel", new { deviceName = Model.Name, level = 80 })</span>
    </div>
    }
</div>
</td>
</tr>