@model Slapsteon.RazorWeb.Models.SlapsteonDisplayModel
           
<!DOCTYPE html>
  <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
    <table width="1000px" style="border:0px;pdding:0px;spacing:0px;vertical-align:top;">
    <tr>
    <td width="250px" style="vertical-align:top;padding:0px;spacing:0px;">
    <table border="1" class="deviceTable">
    <tr><td>First Floor</td></tr>
    @Html.EditorFor(x => x.Devices_Floor1)

    </table>
    </td>
    <td width="250px" style="vertical-align:top;padding:0px;spacing:0px;">
    <table border="1" class="deviceTable">
    <tr><td>Second Floor</td></tr>
    @Html.EditorFor(x => x.Devices_Floor2)

    </table>
    </td>
    <td width="250px" style="vertical-align:top;padding:0px;spacing:0px;">
    <table border="1" class="deviceTable">
    <tr><td>Exterior</td></tr>
    @Html.EditorFor(x => x.Devices_Exterior)
    <tr><td>Basement</td></tr>
    @Html.EditorFor(x => x.Devices_Basement)
    </table>
    </td>
<td width="250px" style="vertical-align:top;padding:0px;spacing:0px;">

<table class="logTable">
@{Html.RenderPartial("EventLogView",Model.Events);}
</table>
</td>
</tr>        
</table>
    </div>
</body>
</html>
